
@{
    ViewBag.Title = "Finish";
}

<script>
    function showSignatureImage() {

        var signData = getCookie();

        if (signData == "") {
            alert("Marche pas");
        }

        $('#savetarget').attr('src', signData);
    }

    function getCookie() {
        var name = "SignData=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }
</script>

<h2>Finish</h2>

<img onload="showSignatureImage()" class="" width="500" height="400" id="savetarget" style="border:1px solid black">