@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Formulaire d'intervention</h1>
</div>

<div class="row">
    <span class="col-3"></span>
    <div class="col-6 btn btn-outline-primary">
        @Html.ActionLink("Nouveau Client", "New_Client", "Home")
    </div>
    <span class="col-3"></span>
</div>
<div class="row">
    <span class="col-3"></span>
    <div class="col-6 btn btn-outline-primary">
        @Html.ActionLink("Client Existant", "Existing_Client", "Home")
    </div>
    <span class="col-3"></span>
</div>

