@Model FormulaireIntervention.Models.DBConnection


@{
    ViewBag.Title = "Intervention";
}
@{
    var listpossibleIntervenant = new SelectList();
    var listTypeIntervention = new SelectList("Dépannage","Cours à domicile","Autre");

    var intervenant = "";
    var intervType = "";
    var intervStart = "";
    var intervEnd = "";

    if (IsPost)
    {

        intervenant = Request.Form["intervIntervenant"];
        intervType = Request.Form["intervType"];
        intervStart = Request.Form["intervStart"];
        intervEnd = Request.Form["intervEnd"];
    }
}

<h2>Information sur l'intervention</h2>

@Html.BeginForm("Resume", "Home", FormMethod.Post)

    <label for="intervIntervenant">Intervenant</label>
    @Html.DropDownList("intervIntervenant", listpossibleIntervenant, "intervIntervenant", new { @class = "form-control" }));
    

    <label for="intervType">Type d'intervention</label>
    @Html.DropDownList("intervType", listTypeIntervention, "intervType", new { @class = "form-control" }));

    <label for="intervStart">Début de l'intervention</label>
    <input class="form-control" type="time" id="intervStart" />

    <label for="intervEnd">Fin de l'intervention</label>
    <input class="form-control" type="time" id="intervEnd" />

    <br />
    <input class="btn btn-default" type="submit" value="Valider" />
