@{

    ViewBag.Title = "Nouveau Client";
    Session.Clear();
}

@{
    if (IsPost)
    {

        var firstName = Request.Form["firstName"];
        var lastName = Request.Form["lastName"];
        var address = Request.Form["address"];
        var phoneNumber = Request.Form["phoneNumber"];

        try
        {        
            var db = new FormulaireIntervention.Models.DBConnection();
            db.InsertNewClientInDatabase(firstName, lastName, address, phoneNumber);
        }
        catch (Exception e)
        {
             Response.Write($@"<script>alert('{e.Message}')</script>");
        }
        finally
        {
            var db = new FormulaireIntervention.Models.DBConnection();
            //Session.Add("clientID", db.GetLastClientID());
            Session["ClientID"] = db.GetLastClientID();
            Response.Redirect("Intervention");
        }

    }
}
<div class="">
    <a class="btn-link" href="/">Home</a>
</div>
<h2 class="">Information sur le client</h2>
<form action="" method="post">
    <div class="form-horizontal">
        <hr />
        <div class="form-group">
            <label for="firstName">Nom: </label>
            <input class="form-control" type="text" id="firstName" name="firstName"><br>

            <label for="lastName">Prénom: </label>
            <input class="form-control" type="text" id="lastName" name="lastName"><br>

            <label for="address">Adresse: </label>
            <input class="form-control" type="text" id="address" name="address"><br>

            <label for="phoneNumber">Numéro de téléphone: </label>
            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"><br>

            <input type="submit" value="Valider" class="btn btn-default" />
        </div>
    </div>
</form>
