@model FormulaireIntervention.Models.DBConnection

@{
    //Variables declaration
    ViewBag.Title = "Nouveau Client";



}

@{


    if (IsPost)
    {
        var firstName = Request.Form["firstName"];
        var lastName = Request.Form["lastName"];
        var address = Request.Form["address"];
        var phoneNumber = Request.Form["phoneNumber"];

        try
        {
            Model.InsertNewClientInDatabase(firstName, lastName, address, phoneNumber);
        }
        catch(Exception e)
        {
            Html.Display(e.Message);
        }
        finally
        {
            Response.Redirect("~/Intervention");
        }
       
    }
}

<h2>Nouveau Client</h2>

@using (Html.BeginForm("Intervention", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label for="firstName">Nom: </label>
            <input class="form-control" type="text" id="firstName" name="firstName"><br>

            <label for="lastName">Prénom: </label>
            <input class="form-control" type="text" id="lastName" name="lastName"><br>

            <label for="address">Adresse: </label>
            <input class="form-control" type="text" id="address" name="address"><br>

            <label for="phoneNumber">Numéro de téléphone: </label>
            <input class="form-control" type="text" id="phoneNumber" name="phoneNumber"><br>

            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
}
