
@{
    ViewBag.Title = "Resume";
}

<h2>Résumé</h2>

<div class="row">

    <br />
    <h4 class="list-group-item-heading">Information sur le client : </h4>
    <ul class="list-group">

        <li class="list-group-item"><p>Nom du client : </p></li>
        <li class="list-group-item"><p>Prénom du client : </p></li>
        <li class="list-group-item"><p>Adresse du client : </p></li>
        <li class="list-group-item"><p>Numéro de téléphone du client : </p></li>
    </ul>
    <br />
    <h4>Information sur l'intervention : </h4>
    <ul class="list-group">
        <li class="list-group-item">Intervenant :</li>
        <li class="list-group-item">Type d'intervention :</li>
        <li class="list-group-item">Durée de l'intervention: </li>
    </ul>

    <input type="button" value="Valider" class="btn btn-default" />
</div>