
<link href="~/Content/signature-pad.css"/>
<div id="signature-pad" class="container container-fluid align-content-center">
    <div class="signature-pad--body">
        <canvas style="border:1px solid black" class="canvas-signature"></canvas>
    </div>
    <div class="signature-pad--actions row">
            <button type="button" class="button clear btn btn-danger col-6" data-action="clear">Clear</button>
            <button type="button" class="button save btn-primary col-6" data-action="save-png">Save</button>
    </div>


</div>

<script src="~/Scripts/signature_pad.umd.js"></script>
<script src="~/Scripts/app.js"></script>

